################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Forum2/FileContentIndex/447fcef3-4fda-476b-811f-307e8c1cc6c1.vsidx
